# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies (Root, Frontend, Backend)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build Outputs
dist/
dist-ssr/
build/
*.tsbuildinfo
*.local

# Environment Variables & Secrets
.env
.env.local
.env.*.local
!.env.example